.contenu{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.font1{
    font-size: 24px;
}

.font2{
    font-size: 18px;
}

p{
    font-size: 24px;
}

.bleu{
    color: #3FA9E2;
}

table{
    width: 100% !important;
    padding-top: 10px;
}

th{
    border: 1px solid #ddd;
    text-align: center;
}

td{
    padding-top:10px;
    padding-bottom: 10px;
}

/* -- Menu ------------------------------------------------- */
.menu{
	background-color: #3FA9E2;
}

.menu ul{
    list-style: none;
    background-color: #3FA9E2;
    text-align: left;
    margin: 0;
}

.menu li{
    list-style-type: none;
	padding: 0 15px 0 10px; /*(top right bottom left)*/
	font-weight: bold;
    margin-left: 1px;
    display: inline-block;
    line-height: 60px;
}

.menu a{
    text-decoration: none;
    color: white;
    display: block;
} 
 
.menu a:hover{
    background-color: #175581;
}
 
.menu a.active{
    background-color: #175581;
    color: #fff;
}

#globe{
    color: white;
    float: right;
    font-size: 2em;
}
/* -- Menu ------------------------------------------------- */

/* -- Bar navigation --------------------------------------- */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color:#28B973;
    color:#ecf0f1;
}

.nav-tabs{
    padding: 10px 0px 0px 0px;
}
/* -- Bar navigation --------------------------------------- */

/* --Content ----------------------------------------------- */
.tab-content{
    padding: 20px 0px 20px 0px;
}

#recherche{
    float: left;
    width: 35%;
    height: 100%;
	margin: 0 auto;
	overflow: hidden;
    padding-right: 5%;
}

#saisie{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

#localisation{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
}

#etatStation{
    float: right;
    width: 65%;
    padding: 0 0 0 5%;
    margin-bottom: 20px;
    border-left: 1px solid #ddd;
}

.table-striped{
    border-top: solid;
    border-top-color: #3FA9E2;
    border-top-width: 15px;
}

.EG{
    text-align: left;
    padding-left: 10px;
}

.ED{
    float:left;
    margin-right: 90px;
    margin-left: 60px;
    text-align: center;
}

.gauche{
    text-align: left;
    padding-left:10px;
    padding-right:0px;
}

.droite{
    float:left;  
    margin-right:80px;
    text-align: center;
}

.ED, .droite{
    margin-top:3px;
    margin-bottom: 3px;
    color:white;
    background-color:gray;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;  
}

#map{
    margin:auto;
    height: 450px;
    width: 100%;
}

#listeDesStations{
    padding: 0 15px;
}
/* --Content ----------------------------------------------- */

/* --Menu deroulant ---------------------------------------- */
 .ui-autocomplete{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all{
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active{
    color: #ffffff;
    text-decoration: none;
    background-color: #bdc3c7;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible{ 
    display:none; 
}
/* --Menu deroulant ---------------------------------------- */











